*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gri{
    background-color: rgb(196, 194, 194);
    height: 3.5vh;
}
i{
    font-size: 17px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: grey;
}

li{
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
}

nav{
    margin-bottom: 10px;
}

.accordion-item{
    border: none;
}

.accordion{
    border: 1px solid rgb(222, 222, 222);
}