*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gri{
    background-color: rgb(196, 194, 194);
    height: 5vh;
}
.features{
    position: relative;
    left: 38%;
}
i{
    font-size: 17px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: grey;
}

#addBtn:hover{
    width: 112px;
    border: 2px black solid;
}

li{
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
}

.card{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav{
    margin-bottom: 10px;
}

.accordion-item{
    border: none;
}

.accordion{
    border: 2px solid gray;
}

.pi-0{
    padding-inline: 0px;
}

.ps-6{
    padding-left: 20%;
}

.footer-bg-1{
    background-color: #F0F0E9;
}

.footer-bg-2{
    background-color: rgba(128, 128, 128, 0.24);
}

.fs-7{
    font-size: 12px;
}

.square{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
